:root {
  --loader-size: 54px;
  --loader-inner-size: 42px;
}

.loader {
  display: inline-block;
  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: var(--loader-inner-size);
  height: var(--loader-inner-size);
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
