.btn {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 23px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.35s ease;
  border: none;
  font-weight: 600;
}

.btn:before {
  position: absolute;
  border-radius: 40px;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 1;
  transition: all 0.5s ease;
  background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
}

.btn:hover:before,
.active:before {
  opacity: 1;
}

.btn:after {
  position: absolute;
  border-radius: 40px;
  left: 2px;
  top: 2px;
  content: '';
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease;
  background: #071162;
}

.btn:hover:after {
  background-color: transparent;
}

.btn:disabled,
.btn[disabled] {
  opacity: 0.5;
  cursor: default;
}
