.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.space {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 132px;
  background-color: #071162;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .spaceBetween {
    padding: 18px 32px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    justify-content: center;
  }

  .spaceBetween {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 2rem;
  }
}
