.footer {
  grid-area: footer;
}

.totalSupply {
  grid-area: totalSupply;
}

.totalFrozen {
  grid-area: totalFrozen;
}

.totalDeposits {
  grid-area: totalDeposits;
}

.unclaimedRewards {
  grid-area: unclaimedRewards;
}

.stake {
  grid-area: stake;
}

.pendingTransaction {
  grid-area: pendingTransaction;
}

.stakerCount {
  grid-area: stakerCount;
}

.rewardPortion {
  grid-area: rewardPortion;
}

.rewardPoolBalance {
  grid-area: rewardPoolBalance;
}

.stakerRank {
  grid-area: stakerRank;
}

.container {
  flex: 1;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: auto;
  grid-template-areas:
    '. rewardPoolBalance stakerCount .'
    '. totalDeposits unclaimedRewards .'
    '. stake stake .'
    '. pendingTransaction pendingTransaction .'
    'footer footer footer footer';
  padding: 4rem 0;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 0 1fr 1fr 0;
  }
}

@media screen and (max-width: 720px) {
  .container {
    grid-template-areas:
      '. rewardPoolBalance rewardPoolBalance .'
      '. stakerCount stakerCount .'
      '. totalDeposits totalDeposits .'
      '. unclaimedRewards unclaimedRewards .'
      '. stake stake .'
      '. pendingTransaction pendingTransaction .'
      'footer footer footer footer';
  }
}
