.container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 8px;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: none;
  border: 1px solid rgb(86, 90, 105);
  padding: 1rem;
  box-shadow: 0 0 80px 0 #000537;
  text-align: center;
  background-color: rgba(7, 17, 98, 0.75);
}
