.claimBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(33, 114, 229);
  border: none;
  padding: 0.2rem 0.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.endStakeBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(33, 114, 229);
  border: none;
  padding: 0.2rem 0.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.claimBtn[disabled] {
  opacity: 0.5;
}

.claimBtn,
.endStakeBtn {
  font-size: 11px;
}

.claimBtn:focus,
.claimBtn:active {
  outline: none;
}

.input {
  width: 100% !important;
}

@media screen and (max-width: 500px) {
  .endStakeBtn {
    left: 1rem;
    top: 1rem;
    bottom: auto;
    right: auto;
  }
}
