.container {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 12px;
  background-color: #071162;
  border: 1px solid rgb(86, 90, 105);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.link,
.link:visited,
.link:active {
  color: #fff;
  line-height: 1;
}
