html {
  background-color: #000537;
  font-size: 16px;
}

* {
  font-family: 'Exo 2', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 600;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: url('./static/gs2-1.png') bottom center / 60% no-repeat,
    url('./static/shape.png') top center / 100% no-repeat,
    linear-gradient(to top left, #00053770 0%, #0a1992 100%);
  color: #fff;
}

* {
  box-sizing: border-box;
}
